<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
    <style>
        body {
            background-color: rgb(127, 96, 197);
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(255, 254, 254);
        }

        a {
            text-decoration: none;
            color: rgb(255, 254, 254);
            font-size: 20px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            gap: 10px;
            padding: 10px;
            margin: 10px;
            border: 1px solid black;
            border-radius: 10px;
            background-color: rgb(66, 11, 175);
            box-sizing: border-box;
            box-shadow: 7px 5px 5px rgb(247, 245, 245);
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h1>Welcome to the Home Page</h1>
    <p><a href="register">Register</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="/auth/google"><i class="fa-brands fa-google"></i> Login with Google</a></p>
    <p><a href="/auth/delta"> Login with Dauth</a></p>
</body>

</html>